In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/survey_results_public.csv')
schema_df = pd.read_csv('data/survey_results_schema.csv')

In [4]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [ ]:
df.shape

In [ ]:
df.info

In [ ]:
df.info()

In [ ]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [ ]:
df

In [ ]:
schema_df

In [ ]:
schema_df.info

In [ ]:
schema_df.info()

In [5]:
person = {
    'first': 'Corey',
    'last': 'Schafer',
    'email': 'CoreySchafer@gmail.com'
}

In [6]:
person = {
    'first': ['Corey'],
    'last': ['Schafer'],
    'email': ['CoreySchafer@gmail.com']
}

In [7]:
person = {
    'first': ['Corey', 'Jane', 'John'],
    'last': ['Schafer', 'Doe', 'Doe'],
    'email': ['CoreySchafer@gmail.com', 'janedoe@email.com', 'johndoe@email.com']
}

In [9]:
person['email']

['CoreySchafer@gmail.com', 'janedoe@email.com', 'johndoe@email.com']

In [11]:
df2 = pd.DataFrame(person)

In [12]:
df2

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com

In [14]:
df2['email']

0    CoreySchafer@gmail.com
1         janedoe@email.com
2         johndoe@email.com
Name: email, dtype: object

In [15]:
type(df2['email'])

pandas.core.series.Series

In [16]:
df2.email

0    CoreySchafer@gmail.com
1         janedoe@email.com
2         johndoe@email.com
Name: email, dtype: object

In [17]:
df2[['last', 'email']]

      last                   email
0  Schafer  CoreySchafer@gmail.com
1      Doe       janedoe@email.com
2      Doe       johndoe@email.com

In [18]:
type(df2)

pandas.core.frame.DataFrame

In [20]:
df2.columns

Index(['first', 'last', 'email'], dtype='object')

In [22]:
df2.iloc[1]

first                 Jane
last                   Doe
email    janedoe@email.com
Name: 1, dtype: object

In [23]:
type(df2.iloc[1])

pandas.core.series.Series

In [24]:
df2.iloc[[0, 1]]

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       janedoe@email.com

In [25]:
type(df2.iloc[[0, 1]])

pandas.core.frame.DataFrame

In [28]:
df2.iloc[[0, 1], 2]

0    CoreySchafer@gmail.com
1         janedoe@email.com
Name: email, dtype: object

In [29]:
df2

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com

In [30]:
df2.loc[0]

first                     Corey
last                    Schafer
email    CoreySchafer@gmail.com
Name: 0, dtype: object

In [31]:
df2.loc[[0, 1]]

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       janedoe@email.com

In [32]:
df2.loc[[0, 1], 'email']

0    CoreySchafer@gmail.com
1         janedoe@email.com
Name: email, dtype: object

In [33]:
df2.loc[[0, 1], ['email', 'last']]

                    email     last
0  CoreySchafer@gmail.com  Schafer
1       janedoe@email.com      Doe

In [35]:
df.shape

(88883, 85)

In [36]:
schema_df.shape

(85, 2)

In [37]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
5        Yes
6         No
7        Yes
8        Yes
9        Yes
10       Yes
11        No
12       Yes
13       Yes
14       Yes
15       Yes
16       Yes
17       Yes
18       Yes
19        No
20       Yes
21       Yes
22       Yes
23       Yes
24        No
25       Yes
26       Yes
27       Yes
28       Yes
29        No
        ...
88853    Yes
88854    Yes
88855     No
88856     No
88857     No
88858     No
88859     No
88860    Yes
88861     No
88862    Yes
88863    Yes
88864    Yes
88865    Yes
88866    Yes
88867    Yes
88868     No
88869     No
88870    Yes
88871    Yes
88872    Yes
88873     No
88874     No
88875    Yes
88876     No
88877    Yes
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [38]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [39]:
df.loc[0]

Respondent                                                        1
MainBranch                   I am a student who is learning to code
Hobbyist                                                        Yes
OpenSourcer                                                   Never
OpenSource        The quality of OSS and closed source software ...
Employment                   Not employed, and not looking for work
Country                                              United Kingdom
Student                                                          No
EdLevel                                   Primary/elementary school
UndergradMajor                                                  NaN
EduOther          Taught yourself a new language, framework, or ...
OrgSize                                                         NaN
DevType                                                         NaN
YearsCode                                                         4
Age1stCode                                                       10
YearsCodePro                                                    NaN
CareerSat                                                       NaN
JobSat                                                          NaN
MgrIdiot                                                        NaN
MgrMoney                                                        NaN
MgrWant                                                         NaN
JobSeek                                                         NaN
LastHireDate                                                    NaN
LastInt                                                         NaN
FizzBuzz                                                        NaN
JobFactors                                                      NaN
ResumeUpdate                                                    NaN
CurrencySymbol                                                  NaN
CurrencyDesc                                                    NaN
CompTotal                                                       NaN
                                        ...
Containers                                  I do not use containers
BlockchainOrg                                                   NaN
BlockchainIs                                                    NaN
BetterLife                                                      Yes
ITperson                   Fortunately, someone else has that title
OffOn                                                           Yes
SocialMedia                                                 Twitter
Extraversion                                                 Online
ScreenName                                                 Username
SOVisit1st                                                     2017
SOVisitFreq                         A few times per month or weekly
SOVisitTo         Find answers to specific questions;Learn how t...
SOFindAnswer                                     3-5 times per week
SOTimeSaved                          Stack Overflow was much faster
SOHowMuchTime                                         31-60 minutes
SOAccount                                                        No
SOPartFreq                                                      NaN
SOJobs            No, I didn't know that Stack Overflow had a jo...
EntTeams                        No, and I don't know what those are
SOComm                                                      Neutral
WelcomeChange               Just as welcome now as I felt last year
SONewContent      Tech articles written by other developers;Indu...
Age                                                              14
Gender                                                          Man
Trans                                                            No
Sexuality                                   Straight / Heterosexual
Ethnicity                                                       NaN
Dependents                                                       No
SurveyLength                                  Appropriate in length
SurveyEase                               Neither easy nor difficult
Name: 0, Length: 85, dtype: object

In [42]:
df.loc[[0,1,2], 'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [43]:
df.loc[0:2, 'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [44]:
df.loc[0:2, 'Hobbyist':'Employment']

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time